In [16]:
from StepParser import *
import time

In [23]:


start = time.time()
a = parse_file('test4.step')
# print(a)
print('parsed in ', time.time() - start)

parsed in  682.519936800003

In [24]:
import pandas as pd

In [25]:
d = pd.DataFrame(a)

d

                                                         0
0                                            ISO-10303-21;
1                                                  HEADER;
2                         FILE_DESCRIPTION( ( '' ), ' ' );
3        FILE_NAME( '/vol/tmp/translate-811006385602690...
4        FILE_SCHEMA( ( 'AUTOMOTIVE_DESIGN { 1 0 10303 ...
...                                                    ...
4984732  DIRECTION( '', ( 0.309016994374950, -0.8074554...
4984733  DIRECTION( '', ( 1.37231112862213E-16, -0.5283...
4984734  DIRECTION( '', ( 0.00000000000000, 0.000000000...
4984735                                            ENDSEC;
4984736                                  END-ISO-10303-21;

[4984737 rows x 1 columns]